.tooltipImageContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    position: relative;
}

.imageContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    position: relative;
}

.imageContainer img {
    padding: 5px;
    border-radius: 8px;
    background-color: #1F3E44;
    transition: transform 0.2s ease;
}

.imageContainer img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    box-shadow: 0 0 15px #ffffff54;
}

.canvasContainer {
    margin-top: -500px;
    height: 700px;
    z-index: 1;
}

.spinning3DModel {
    padding-top: 300px;
    position: sticky;
    top: 0;
    height: 1400px;
    width: 700px;
    float: right;
    margin-top: -2300px;
    z-index: 1;
}

.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltipText {
    min-height: 150px;
    width: 500px;
    padding: 8px;
    border-radius: 8px;
    position: absolute;
    bottom: -180%;
    left: -10%;
    opacity: 0;
    visibility: hidden;
    background-color: #1f3e44d7;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: opacity 0.3s;
    z-index: 10;
}

.hr {
    width: 70%;
}


.tooltipText p {
    margin: 0 0 5px 0;
}

.tooltipContainer:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}


@media (max-width: 1820px) {
    .spinning3DModel {
        height: 1000px;
        margin-right: -100px;
    }
}

@media (max-width: 1500px) {
    .canvasContainer {
        display: none;
    }
}

@media (max-width: 1400px) {
    .hr {
        width: 70vw;
    }
}

@media (max-width: 1250px) {
    .hr {
        width: 80vw;
    }
}

@media (max-width: 1100px) {
    .hr {
        width: 100%;
    }
}

@media (min-width: 900px) and (max-width: 1360px) {

    .tooltipContainer:nth-child(8) .tooltipText,
    .tooltipContainer:nth-child(7) .tooltipText,
    .tooltipContainer:nth-child(6) .tooltipText {
        left: -460%;
        margin-left: 0;
    }
}

@media (min-width: 900px) and (max-width: 1020px) {
    .tooltipContainer:nth-child(5) .tooltipText {
        left: -460%;
        margin-left: 0;
    }
}

@media (min-width: 900px) and (max-width: 971px) {
    .tooltipContainer:nth-child(8) .tooltipText {
        left: -10%;
    }
}

@media (max-width: 900px) {
    .tooltipText {
        width: 88vw;
    }

    .tooltipContainer:nth-child(2) .tooltipText,
    .tooltipContainer:nth-child(8) .tooltipText {
        left: -119px;
    }

    .tooltipContainer:nth-child(3) .tooltipText,
    .tooltipContainer:nth-child(9) .tooltipText {
        left: -229px;
    }

    .tooltipContainer:nth-child(4) .tooltipText {
        left: -339px;
    }

    .tooltipContainer:nth-child(5) .tooltipText {
        left: -449px;
    }

    .tooltipContainer:nth-child(6) .tooltipText {
        left: -559px;
    }
}

@media (max-width: 728px) {
    .tooltipContainer:nth-child(7) .tooltipText {
        left: -119px;
    }

    .tooltipContainer:nth-child(8) .tooltipText {
        left: -229px;
    }

    .tooltipContainer:nth-child(9) .tooltipText {
        left: -339px;
    }
}

@media (max-width: 711px) {
    .tooltipContainer:nth-child(6) .tooltipText {
        left: -10%;
    }
}

@media (max-width: 604px) {
    .tooltipContainer:nth-child(5) .tooltipText {
        left: -10%;
    }

    .tooltipContainer:nth-child(6) .tooltipText {
        left: -119px;
    }

    .tooltipContainer:nth-child(7) .tooltipText {
        left: -229px;
    }

    .tooltipContainer:nth-child(8) .tooltipText {
        left: -339px;
    }

    .tooltipContainer:nth-child(9) .tooltipText {
        left: -449px;
    }
}

@media (max-width: 537px) {
    .tooltipText {
        top: 100px;
        height: 250px;
        overflow: auto;
    }
}

@media (max-width: 482px) {
    .tooltipContainer:nth-child(4) .tooltipText {
        left: -10%;
    }

    .tooltipContainer:nth-child(5) .tooltipText {
        left: -119px;
    }

    .tooltipContainer:nth-child(6) .tooltipText {
        left: -229px;
    }

    .tooltipContainer:nth-child(7) .tooltipText {
        left: -10%;
    }

    .tooltipContainer:nth-child(8) .tooltipText {
        left: -119px;
    }

    .tooltipContainer:nth-child(9) .tooltipText {
        left: -229px;
    }
}

@media (max-width: 360px) {
    .tooltipContainer:nth-child(3) .tooltipText {
        left: -10%;
    }

    .tooltipContainer:nth-child(4) .tooltipText {
        left: -119px;
    }

    .tooltipContainer:nth-child(5) .tooltipText {
        left: -10%;
    }

    .tooltipContainer:nth-child(6) .tooltipText {
        left: -119px;
    }

    .tooltipContainer:nth-child(7) .tooltipText {
        left: -10%;
    }

    .tooltipContainer:nth-child(8) .tooltipText {
        left: -119px;
    }

    .tooltipContainer:nth-child(9) .tooltipText {
        left: -229px;
    }
}