.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
}

.ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.ul li {
    text-align: right;
    margin-left: 100px;
}

.ul li a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1100px) {
    .responsiveNav {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 675px) {
    .logo {
        font-size: 24px;
    }

    .ul li {
        font-size: 18px;
    }
}