.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
    width: 90%;

    margin: 0 auto;

}

.ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.ul li {
    text-align: right;
    width: 160px;
}

.ul li a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1100px) {
    .responsiveNav {
        display: none;
        visibility: hidden;
    }
}